html,body{
   margin:0;
padding:0;

}
body{
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

.header{
    font-weight: 1000;
    font-size: 36px;
}

.header-2{
    font-weight: 1000;
    font-size: 36px;
}
.header-container{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.wrapper{
    display:flex;
    align-items: center;
    justify-content: center;
    
}
.nav-header{
    gap:20px;
    display:flex;
    list-style: none;
}


.second-header{
    text-align: center;
    font-weight: 1000;
    font-size: 36px;
    padding: 20px;

}
.img-container{
    background-color: darkslateblue;
    margin-top: 100px;
    padding: 50px;
}
/* .second-wrapper{
    display: flex;
} */
.subtext{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.nav-img{
    display: flex;
    list-style: none;
}
.footer{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 10px;
    color: white;
    font-size: 20px;
} 

.quote{
    text-align: center;
    background-color: cadetblue;
    font-size: 30px;
    padding: 100px;
}

.author{
    font-size: 20px;
    font-weight: bolder;
    text-align: right;
}